form {
  display: flex;
  width: calc(100vw - 32pt);
  max-width: 800pt;
  margin: 16pt;
  font-size: $h4;
  input {
    flex: 1;
  }
  &.submitting {
    opacity: 0.75;
    pointer-events: none;
  }
}
